#map {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 99%;
    background: black;
}

/* The sidepanel menu */
.sidepanel {
    /* height: 60%; */
    /* Specify a height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: absolute;
    /* Stay in place */
    z-index: 1000;
    /* Stay on top */
    top: 9px;
    left: 10px;
    background-color: rgb(43, 37, 31);
    border-radius: 10px;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidepanel */
    opacity: 0.90;
}

/* sidepanel button (show/hide button)*/
.infoWindowIcn {
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 17px;
    color: #e7dfa8;
    text-align: center;
    display: block;
    padding: 8px;
    background-color: rgb(171, 52, 52);
    border-radius: 10px;
    text-decoration: none;
    /* border: 0 */
}

.infoWindowIcn:hover {
    color: #f1f1f1;
}

.category-button.toggledOn {
    opacity: 1
}

.category-button.toggledOff {
    opacity: .35
}

.category-button.toggledOn>.label>.completed-label-hide {
    display: inherit
}

.category-button.toggledOff>.label>.completed-label-hide {
    display: none
}

.category-button.toggledOn>.label>.completed-label-show {
    display: none
}

.category-button.toggledOff>.label>.completed-label-show {
    display: inherit
}

.sign-btn {
    margin-top: 10px;
}

/* log-button will not change the opacity */
.log-button .toggledOn>.label>.completed-label-hide {
    display: inherit
}

.log-button.toggledOff>.label>.completed-label-hide {
    display: none
}

.log-button.toggledOn>.label>.completed-label-show {
    display: none
}

.log-button.toggledOff>.label>.completed-label-show {
    display: inherit
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: #818181;
}


/* Style the button that is used to open the sidepanel */
.openbtn-AccIcn {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 999;
    font-size: 20px;
    cursor: pointer;
    background-color: gray;
    border-radius: 10px;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn-AccIcn:hover {
    background-color: #444;
}

.openbtn-mapIcn {
    position: absolute;
    left: 10px;
    top: 65px;
    z-index: 999;
    font-size: 20px;
    cursor: pointer;
    background-color: gray;
    border-radius: 10px;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn-mapIcn:hover {
    background-color: #444;
}

.openbtn-itemIcn {
    position: absolute;
    left: 10px;
    top: 120px;
    z-index: 999;
    font-size: 20px;
    cursor: pointer;
    background-color: gray;
    border-radius: 10px;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn-mapIcn:hover {
    background-color: #444;
}


/* style for image icon */
.sidepanel .iconImage {
    position: relative;
    cursor: pointer;
    text-align: center;
    padding-left: 30px;

}

/* img round cornor */
.rounded-corners {
    border-radius: 30px;
}

.separate-8 {
    padding-bottom: 8px;
}

.height-25 {
    height: 25%;
}

.height-60 {
    height: 60%;
}

.hid {
    visibility: hidden;
}

.hovering-effect:hover {
    opacity: 0.35;
    transition: opacity 0.5s;
}

.image-container .showup-font {
    font-size: 20px;
    position: absolute;
    left: 37%;
    top: 40%;
    visibility: hidden;
    transition: opacity 0.5s;
}

.image-container:hover .showup-font {
    color: #e7dfa8;
    visibility: visible;
    /* opacity: 1; */
    padding-left: 5px;
}

.usr-name {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/* use for category list icon */
.group-list {
    margin-left: 20px;
}

/* css for login part */
#username,
#password,
h3,
#fullname,
#comfirm_password,
#username2,
#password2 {
    width: 200px;
    height: 20px;
    margin: 10px;
    color: rgb(171, 52, 52);
}

h5 {
    margin: 20px;
    color: #a3a2a3;
}

h5:hover {
    color: #e7dfa8;
}

#container1,
#container2,
#container3 {
    /* margin: 50px; */
    padding: 10px;
    width: 230px;
    height: 300px;
    background-color: rgb(43, 37, 31);
    border-radius: 5px;
    /* border-top: 10px solid rgb(171, 52, 52); */
    box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);

    /*定位對齊*/
    position: relative;
    margin: auto;
    top: -25px !important;
    /* text-align:center;   */
}

.system_name {
    /*定位對齊*/
    position: relative;
    margin: auto;
    top: 100px;
    text-align: center;
}

.submit {
    color: #e7dfa8;
    background: rgb(171, 52, 52);
    width: 200px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 0px;
}

.submit:hover {
    background: rgb(167, 34, 34);
}

#container2 {
    visibility: hidden;
    /*剛開始消失*/
    height: 350px;
}


#copyright {
    text-align: center;
    color: #a3a2a3;
    margin: -200px 0px 0px 0px;
    font-size: 14px;
}

input {
    padding: 5px;
    border: none;
    border: solid 1px #ccc;
    border-radius: 5px;
}